
{{#if item.isEven }}
  <!-- LAYOUT A: IMAGE COMES BEFORE -->
  <div class="proj-itemA">

    <div class="proj-img">
      <img src="{{item.image}}"/>
    </div>

    <div class="proj-info">
      <div class="st"></div>
      <h2 class="bold2">{{item.title}}</h2>
      <p class="serif"><{{item.description}}</p>
      <div class="proj-btn-grp">
        <a class="proj-btn" href="{{item.website}}">Launch</a>
        <a class="proj-btn" href="{{item.github}}">Github</a>
      </div>
    </div>
  </div>

{{else}}
  <!-- LAYOUT B: IMAGE COMES AFTER -->
  <div class="proj-itemB">

    <div class="proj-info">
      <div class="st"></div>
      <h2 class="bold2">{{item.title}}</h2>
      <p class="serif"><{{item.description}}</p>
      <div class="proj-btn-grp">
        <a class="proj-btn" href="{{item.website}}">Launch</a>
        <a class="proj-btn" href="{{item.github}}">Github</a>
      </div>
    </div>

    <div class="proj-img">
      <img src="{{item.image}}"/>
    </div>
  </div>
{{/if}}
