<header>
  {{#each model.profiles as |profile|}}
    <!-- <h3>{{profile.name}}</h3> -->
    <!-- <p><{{profile.email}}</p> -->
    <ul class="social">
      <li><a href="{{profile.github}}"><img src="./img/github.svg"></a></li>
      <li><a href="{{profile.linkedin}}"><img src="./img/linkedin.svg"></a></li>
      <li><a href="{{profile.twitter}}"><img src="./img/twitter.svg"></a></li>
      <li><a href="{{profile.dribbble}}"><img src="./img/dribbble.svg"></a></li>
      <li><a href="{{profile.behance}}"><img src="./img/behance.svg"></a></li>
      <li><a href="{{profile.medium}}"><img src="./img/medium.svg"></a></li>
    </ul>
    <h3 class="serif intro">{{profile.description}}</h3>

  {{/each}}
</header>

{{#scroll-to href='#top'}}
  <img class="homebtn" src="./img/evontay-logo-fill.svg"/>
{{/scroll-to}}




<!-- <h2 class="serif">Projects</h2> -->
{{#each model.projects as |project|}}
    {{#show-projects item=project}}
    {{/show-projects}}
{{/each}}

<h2 class="serif">Where I've been</h2>
{{#each model.works as |work|}}
    {{#show-work item=work}}
    {{/show-work}}
{{/each}}

<h2 class="serif">What I've Studied</h2>
{{#each model.educations as |education|}}
    {{#show-education item=education}}
    {{/show-education}}
{{/each}}
