<div id="top"></div>
<header>
  {{#each model.profiles as |profile|}}
    <!-- <h3>{{profile.name}}</h3> -->
    <!-- <p><{{profile.email}}</p> -->
    <ul class="social">
      <li><a href="{{profile.github}}"><img src="./img/github.svg"></a></li>
      <li><a href="{{profile.linkedin}}"><img src="./img/linkedin.svg"></a></li>
      <li><a href="{{profile.twitter}}"><img src="./img/twitter.svg"></a></li>
      <li><a href="{{profile.dribbble}}"><img src="./img/dribbble.svg"></a></li>
      <li><a href="{{profile.behance}}"><img src="./img/behance.svg"></a></li>
      <li><a href="{{profile.medium}}"><img src="./img/medium.svg"></a></li>
    </ul>

    <img class="header-logo" src="./img/evontay-logo-circle.svg">

    <h3 class="serif intro">{{profile.description}}</h3>

  {{/each}}
</header>


<div id="projects">
  <!-- <h2 class="serif">Projects</h2> -->
  {{#each model.projects as |project|}}
      {{#show-projects item=project}}
      {{/show-projects}}
  {{/each}}
</div>

<div id="experience">
<h2 class="serif">Where I've been</h2> 
    <div class="empty"></div>
    <div>
      {{#each model.works as |work|}}
          {{#show-work item=work}}
          {{/show-work}}
      {{/each}}
    </div>

</div>


<div id="education">
  <h2 class="education-item serif">Where I've studied</h2>
  {{#each model.educations as |education|}}
      {{#show-education item=education}}
      {{/show-education}}
  {{/each}}
</div>


<div id="contact"></div>
