<!-- <h2>Layout 1</h2> -->


<!-- <div class="layout1">
{{#each model as |project|}}

<div class="proj-item">

  <div class="proj-info">
    <div class="st"></div>
    <h3 class="bold2">{{project.title}}</h3>
    <p class="serif"><{{project.description}}</p>
    <div class="proj-btn-grp">
      <a class="proj-btn" href="{{project.github}}">Github</a>
      <a class="proj-btn" href="{{project.website}}">Launch</a>
    </div>
  </div>

  <div class="proj-img">
    <img src="{{project.image}}"/>
  </div>
</div>
{{/each}}
</div> -->

<!-- //else -->
<!-- <h2>Layout 2</h2> -->
<!-- <div class="layout2"> -->
  {{#each model as |project|}}
    {{show-projects item=project}}
  <!-- <div class="proj-item">

    <div class="proj-img">
      <img src="{{project.image}}"/>
    </div>

    <div class="proj-info">
      <div class="st"></div>
      <h2 class="bold2">{{project.title}}</h2>
      <p class="serif"><{{project.description}}</p>
      <div class="proj-btn-grp">
        <a class="proj-btn" href="{{project.github}}">Github</a>
        <a class="proj-btn" href="{{project.website}}">Launch</a>
      </div>
    </div>

  </div> -->
  {{/each}}
<!-- </div> -->
